<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>traitement.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Produit</servlet-name>
        <servlet-class>Preparation.Produit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepaPrix</servlet-name>
        <servlet-class>Preparation.PrepaPrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepaProduit</servlet-name>
        <servlet-class>Preparation.PrepaProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepaCategorie</servlet-name>
        <servlet-class>Preparation.PrepaCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepaVente</servlet-name>
        <servlet-class>Preparation.PrepaVente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudProduit</servlet-name>
        <servlet-class>crud.CrudProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudCategorie</servlet-name>
        <servlet-class>crud.CrudCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudPrix</servlet-name>
        <servlet-class>crud.CrudPrix</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudVente</servlet-name>
        <servlet-class>crud.CrudVente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudUtilisateur</servlet-name>
        <servlet-class>crud.CrudUtilisateur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Produit</servlet-name>
        <url-pattern>/Produit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepaPrix</servlet-name>
        <url-pattern>/PrepaPrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepaProduit</servlet-name>
        <url-pattern>/PrepaProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepaCategorie</servlet-name>
        <url-pattern>/PrepaCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepaVente</servlet-name>
        <url-pattern>/PrepaVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudProduit</servlet-name>
        <url-pattern>/CrudProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudCategorie</servlet-name>
        <url-pattern>/CrudCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudPrix</servlet-name>
        <url-pattern>/CrudPrix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudVente</servlet-name>
        <url-pattern>/CrudVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudUtilisateur</servlet-name>
        <url-pattern>/CrudUtilisateur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
